{% extends "layout.html" %}
{% block content %}
{% for product in cart %}
    <article class="media content-section">
      <a class="mr-2" href="#">{{ product["productName"] }} Price: {{product["productPrice"]}}</a>
    </article>
{% endfor %}
<br>
Total : {{total}}
{%if current_user.is_authenticated%}
<h2><a class="article-title" href="{{ url_for('userCheckout', total = total) }}">checkout</a></h2>
{%else%}
<h2><a class="article-title" href="{{ url_for('guestCheckout', total = total) }}">checkout</a></h2>
{%endif%}
{% endblock content %}
